h1{
    background-color: cornflowerblue;
    color:black ;
}
h1:hover{
    background-color: blue;
    color: aquamarine;
}
p{
    font-size: 30px;
    color: rgb(5, 73, 73);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;

    
}
a:hover{
   
    background-color: rgb(49, 248, 9);
    color: rgb(10, 11, 11);
}